body{
 background: url(https://images.unsplash.com/photo-1528818955841-a7f1425131b5?ixlib=rb-0.3.5&s=1843235f7a0056a42ad0291fb02a1bdc&w=1000&q=80)
}

/*selected tag{
  property: value;
}*/

h1{
   color: red;
}

li{
  color: rgb(255, 97, 0);
}

p{
  color: #0895a8;
}

h4{
  color: rgba(255, 97, 0,0)
}
